body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; // Stops sideways scrolling
    width: 100%;
    min-height: 100%;
    font-family: "Inter";
}

.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    background-color: #0f0f0f;
    gap: 20px;
}

.header {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 4rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("./src/assets/header-background.jpg") no-repeat center center/cover;
}

.footer {
    margin-top: auto;  
    padding-bottom: 30px;
    background-color: #1A1A1A;
    width: 100%;
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
    bottom: 0%;
}

.nav {
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 45px;
}

.button {
    background: #444444; 
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: all 0.3s;
    margin: 20px;
}

button:hover {
    background-color: #E0E0E0;
    transform: scale(1.1);
}

.projects {
    color: #1b1b1b;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 30px;
}

.main {
    background-color: #1b1b1b;
    padding-bottom: 100px;
    width: 50%;
    min-width: 600px;
    max-width: 1100px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
}

.card {
    background: #222;
    border-radius: 12px;
    text-align: center;
    color: white;
    width: 350px;
    height: 300px;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    width: 100%;
    gap: 60px;
    padding: 0 20px 0 20px;
}

.buttonCard {
    border-radius: 15px;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px;
    border-color: #000000;
}

.buttonCard:hover {
    background-color: #1b1b1b;
    border-color: #15a1284f;
    border-radius: 15px;
}

.buttonCard:hover .card {
    box-shadow: 0 0 70px #000000;
}

.textInput {
    width: 100%;
    max-width: 400px;
    padding: 12px 16px;
    border: 2px solid #000000;
    border-radius: 8px;
    background: black;
    color: #128321;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 5px #15a128;
}

.textInput:focus {
    border-color: #000000;
    box-shadow: 0 0 10px #000000;
    text-shadow: 0 0 5px #0c5a163b;
}

.buttonImage {
    border-radius: 12px 12px 0px 0px;
}