body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; // Stops sideways scrolling
    width: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url("/images/background.jpg") no-repeat center center/cover;
    width: 100%;
    align-items: center;
}

.header {
    width: 100%;
    text-align: center;
    padding: 80px;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.6);
}

.footer {
    position: relative;
    top: 99%;
    margin-top: 200px;
}

.nav {
    height: 250px;
    align-content: center;
}

.button {
    padding: 20px;
    margin: 50px;
    width: 200px;
}

.projects {
    background: rgba(0, 0, 0, 0.6);
    padding: 100px 50px 100px 50px;
    margin-top: 100px;
    text-align: center;
}