body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; // Stops sideways scrolling
    width: 100%;
    min-height: 100%;
    font-family: "Inter";
}

.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    background-color: #0f0f0f;
    gap: 20px;
}

.header {
    width: 100%;
    text-align: center;
    height: 60px;
    font-size: 4rem;
    background-color: #1A1A1A;
}

.siteIcon {
    font-size: 22px;
    color: white;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

.footer {
    margin-top: auto;  
    padding-bottom: 30px;
    background-color: #1A1A1A;
    width: 100%;
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
    bottom: 0%;
}

.nav {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1f1f1f;
    border-radius: 20px;
    gap: 200px;
    padding: 40px;
    @media (width <= 1450px) {
        gap: 100px;
    }
}

.button {
    background: #444444; 
    color: white;
    border-radius: 0px;
    padding: 20px 40px;
    font-size: 1.2rem;
    transition: all 0.3s;
    text-wrap: nowrap;
}

button:hover {
    background-color: #E0E0E0;
    transform: scale(1.1);
}

.projects {
    color: #131212;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 30px;
}

.main {
    background-color:rgb(22, 22, 22);
    padding-bottom: 10px;
    width: 50%;
    min-width: 600px;
    max-width: 1100px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
}

.card {
    background: #222;
    border-radius: 12px;
    text-align: center;
    color: white;
    width: 350px;
    height: 320px;
    display: flex;
    flex-direction: column;
    @media (width <= 1700px) {
        width: 272px;
        height: 260px;
    }
    @media (width <= 1290px) {
        width: 175px;
        height: 160px;
        overflow: hidden;
    }
}

.tags {
    margin: 0px;
    background-color: #464646;
    padding: 7px;
    border-radius: 20px;

    @media (width <= 1700px) {
        height: 10px;
        width: auto;
        font-size: 10px;
    }
}


.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-height: 37px;
    margin: auto 20px 20px 20px;
    overflow-y: auto;
    @media (width <= 1700px) {
        margin-bottom: 10px;
        max-height: 32px;
    }
}

.tagsContainer::-webkit-scrollbar {
    width: 12px;
}

.tagsContainer::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 10px;
}

.tagsContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.tagsContainer::-webkit-scrollbar-track {
    background: #2b2a2a;
    border-radius: 15px;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    width: 100%;
    gap: 60px;
    padding: 20px 20px 0 20px;
    max-height: 800px;
    overflow-y: auto;
    background-color: rgb(22, 22, 22);
    @media (width <= 1700px) {
        padding: 0px;
    }
}

.cardcontainer::-webkit-scrollbar {
    width: 12px;
}

.cardcontainer::-webkit-scrollbar-thumb {
    background-color: #252525;
    border-radius: 10px;
}

.cardcontainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.cardcontainer::-webkit-scrollbar-track {
    background: none;
}

.buttonCard {
    border-radius: 15px;
    background-color: #1b1b1b;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-color: #00000000;
    background-color: #00000000;
    @media (width <= 1700px) {
        width: 262px;
        height: 262px;
    }
    @media (width <= 1290px) {
        width: 175px;
        height: 175px;
    }
}

.buttonCard:hover {
    background-color: #1b1b1b;
    border-color: #15a1284f;
    border-radius: 15px;
}

.buttonCard:hover .card {
    box-shadow: 0 0 70px #000000;
}

.textInput {
    width: 400px;
    padding: 12px 16px;
    border: 2px solid #000000;
    border-radius: 8px;
    background: black;
    color: #128321;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 5px #15a128;
}

.textInput:focus {
    border-color: #000000;
    box-shadow: 0 0 10px #000000;
    text-shadow: 0 0 5px #0c5a163b;
}

.buttonImage {
    border-radius: 12px 12px 0px 0px;
    width:350px;
    height:150px;
    @media (width <= 1700px) {
        width: 272px;
        height: 112px;
    }
    @media (width <= 1290px) {
        width: 175px;
        height: 75px;
    }
}

.links {
     text-decoration: none;
     color: white;
     font-size: 20px;
}

