.main {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;


    .bigImage {
        z-index: 2;
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.398);
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media (width < 1150px) {
            visibility: hidden;
            position: absolute;
            bottom: -100%;
        }


        .bottomDisplay {
            bottom: 0px;
            left: 0;
            position: fixed;
            display: flex;
            justify-content: center;
            background-color: #1f1f1f93;
            width: 100%;
            gap: 20px;
            padding: 20px;
            overflow: visible;

            img {
                margin: 0 8px;
                padding: 2px;
                width: 157.8px;
                height: 143px;
                border: 3px solid transparent;
                transition: transform 0.2s, border-color 0.2s;
            }

            img:hover {
                transform: scale(1.05);
                border: 3px solid white;
            }
        }


        .close {
            position: absolute;
            top: 30px;
            right: 50px;

            button {
                width: 41px;
                height: 41px;
                font-size: 27px;
                padding: 2px;
                border-radius: 100px;
                background-color: #fdfdfd20;
                color: rgba(255, 255, 255, 0.699);
                border: none;
                justify-content: center;
            }

            button:hover {
                cursor: pointer;
                background-color: #bbb9b976;
                transform: scale(1.05);
            }
        }

        .leftArrow {
            position: absolute;
            left: 50px;
            width: 50px;
            height: 50px;
            top: 50%;

            button {
                width: 50px;
                height: 50px;
                font-size: 25px;
                padding: 5px;
                border-radius: 100px;
                background-color: #c3c1c14a;
                color: rgba(255, 255, 255, 0.699);
                border: none;
                justify-content: center;
            }

            button:hover {
                cursor: pointer;
                background-color: #bbb9b976;
                transform: scale(1.05);
            }
        }

        .rightArrow {
            position: absolute;
            right: 50px;
            width: 50px;
            height: 50px;
            top: 50%;

            button {
                width: 50px;
                height: 50px;
                font-size: 25px;
                padding: 5px;
                border-radius: 100px;
                background-color: #c3c1c14a;
                color: rgba(255, 255, 255, 0.699);
                border: none;
                justify-content: center;
            }

            button:hover {
                cursor: pointer;
                background-color: #bbb9b976;
                transform: scale(1.05);
            }
        }



        .container {
            display: flex;
            flex-direction: row;
            align-items: center;

            .image {
                height: 837px;
                width: 1122px;
                overflow: visible;
                /*@media (width < 1800px) {
                  height: 80%;
                  width: 80%;
                }*/
            }
        }
    }

    .titles {
        h1 {
            font-size: 50px;
            margin: 35px 0 12px 0;
            text-align: center;
        }

        h2 {
            margin: 4px 0;
            font-size: 28px;
            text-align: center;
            color:rgb(117, 117, 117);
        }
    }

    .mainBody {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 55px;
        width: 100%;
        height: 100%;

        .topDiv {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: flex-start;
            gap: 60px;

            @media (width <= 1900px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
            }

            .compartment {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 350px;

                .tagsContainer {
                    gap: 10px;
                    flex-wrap: wrap;
                    display: flex;
                    padding: 2%;
                    min-height: 100px;
                    min-width: 180px;
                    max-width: 200px;
                    background-color: #47474759;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;

                    .tags {
                        min-width: 25px;
                        text-align: center;
                        margin: 0px;
                        background-color: #464646;
                        padding: 10px;
                        border-radius: 22px;
                        height: 18px;
                    }
                }

                .links {
                    margin: 50px 0 20px 0;
                    text-align: center;
                    font-size: 20px;

                    a {
                        color: white;
                        text-decoration: underline rgb(255, 255, 255);
                    }
                }
            }

            .imageContainer {
                height: 320px;
                width: auto;
                display: inline-flex;

                .imgButton {
                    display: flex;
                    padding: 0;
                    margin: 0 20px;
                    border-radius: 8px;
                    border: none;
                    transition: transform 0.3s;

                    .image {
                        border-radius: 8px;
                        height: 322px;
                        width: 422px;
                        overflow: hidden;
                    }
                }

                .imgButton:hover {
                    transform: scale(1.03);
                    cursor: pointer;
                    border: none;
                }

                .arrowContainer {
                    width: 60px;
                    align-self: center;

                    .leftArrow {
                        justify-content: center;
                        font-size: 25px;
                        padding: 5px;
                        border-radius: 100px;
                        width: 41px;
                        display: flex;
                        background-color: #a3a2a221;
                        color: rgba(255, 255, 255, 0.699);
                        border: none;

                        @media (width < 550px) {
                            position: absolute;
                            left: 15px;
                            background-color: #41404099;
                        }
                    }

                    .rightArrow {
                        justify-content: center;
                        font-size: 25px;
                        padding: 5px;
                        border-radius: 100px;
                        width: 41px;
                        display: flex;
                        background-color: #a3a2a221;
                        color: rgba(255, 255, 255, 0.699);
                        border: none;

                        @media (width < 550px) {
                            position: absolute;
                            right: 15px;
                            background-color: #41404099;
                        }
                    }

                    .arrow:hover {
                        cursor: pointer;
                        background-color: #bbb9b976
                    }
                }

            }

            .imageContainer::-webkit-scrollbar {
                width: 12px;
            }

            .imageContainer::-webkit-scrollbar-thumb {
                background-color: #363636;
                border-radius: 10px;
            }

            .imageContainer::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }

            .imageContainer::-webkit-scrollbar-track {
                background: #2b2a2a;
                border-radius: 15px;
            }
        }

        .descriptionContainer {
            background-color: #4646464f;
            min-height: 400px;
            max-height: 1200px;
            height: auto;
            width: 80%;
            border-radius: 8px;
            margin: 100px 0 40px 0;
            align-self: center;
            overflow-y: scroll;
            padding: 15px;

            .description {
                text-align: justify;
                margin: 20px;
                font-size: 20px;
                line-height: 30px;
            }
        }

        .descriptionContainer::-webkit-scrollbar {
            width: 12px;
        }

        .descriptionContainer::-webkit-scrollbar-thumb {
            background-color: #363636;
            border-radius: 10px;
        }

        .descriptionContainer::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }

        .descriptionContainer::-webkit-scrollbar-track {
            background: #2b2a2a;
            border-radius: 15px;
        }
    }
}
