.main {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

    .bigImage {
        z-index: 2;
        height: 100%;
        width: 100%;
        align-content: center;
        justify-items: center;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.398);
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .leftArrow {
            position: absolute;
            left: 50px;
            width: 50px;
            height: 50px;
            top: 50%;

            button {
                width: 50px;
                height: 50px;
                font-size: 25px;
                padding: 5px;
                border-radius: 100px;
                background-color: #c3c1c14a;
                color: rgba(255, 255, 255, 0.699);
                border: none;
                justify-content: center;
            }

            button:hover {
                cursor: pointer; 
                background-color: #bbb9b976;
                transform: scale(1.05);
            }
        }

        .rightArrow {
            position: absolute;
            right: 50px;
            width: 50px;
            height: 50px;
            top: 50%;
            
            button {
                width: 50px;
                height: 50px;
                font-size: 25px;
                padding: 5px;
                border-radius: 100px;
                background-color: #c3c1c14a;
                color: rgba(255, 255, 255, 0.699);
                border: none;
                justify-content: center;
            }

            button:hover {
                cursor: pointer; 
                background-color: #bbb9b976;
                transform: scale(1.05);
            }
        }

        

        .container {
            display: flex;
            flex-direction: row;
            
            .image {
                height: 70vh;
                width: auto;
                overflow: visible;
            }
        }
    }

    .titles {
        h1 {
            font-size: 50px;
            margin: 35px 0 12px 0;
        }
    
        h2 {
            margin: 4px 0;
            font-size: 28px;
            align-self: center;
            color:rgb(117, 117, 117);
        }
    }
    
    .mainBody {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 55px;
        width: 100%;
        height: 100%;

        .topDiv {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: flex-start;
            gap: 100px;

            @media (width <= 1750px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
            }

            .tagsContainer {
                gap: 10px;
                flex-wrap: wrap;
                display: flex;
                padding: 2%;
                width: 100%;
                max-width: 200px;
                background-color: #47474759;
                justify-content: flex-start;
                border-radius: 20px;
                .tags {
                    margin: 0px;
                    background-color: #464646;
                    padding: 10px;
                    border-radius: 22px;
                    height: 18px;
                }
            }

            .imageContainer {
                height: 320px;
                width: 450px;
                display: inline-flex;
                
                .imgButton {
                    display: flex;
                    padding: 0;
                    margin: 0 20px;
                    border-radius: 8px;
                    border: none;

                    
                    .image {
                        border-radius: 8px;
                        height: 322px;
                        width: 422px;
                        overflow: hidden
                    }
                }

                .imgButton:hover {
                    transform: scale(1.03);
                    cursor: pointer; 
                }

                .arrowContainer {
                    width: 60px;
                    align-self: center;
                    .arrow {
                        justify-content: center;
                        font-size: 25px;
                        padding: 5px;
                        border-radius: 100px;
                        width: 41px;
                        display: flex;
                        background-color: #a3a2a221;
                        color: rgba(255, 255, 255, 0.699);
                        border: none;
                    }

                    .arrow:hover {
                        cursor: pointer; 
                        background-color: #bbb9b976
                    }
                }

            }
            
            .imageContainer::-webkit-scrollbar {
                width: 12px;
            }
            
            .imageContainer::-webkit-scrollbar-thumb {
                background-color: #363636;
                border-radius: 10px;
            }
            
            .imageContainer::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }
            
            .imageContainer::-webkit-scrollbar-track {
                background: #2b2a2a;
                border-radius: 15px;
            }
        }

        .descriptionContainer {
            background-color: #4646464f;
            height: 450px;
            width: 80%;
            border-radius: 8px;
            margin: 50px 0 40px 0;
            align-self: center;
            overflow-y: scroll;
            .description {
                margin: 20px;
                font-size: 20px;
            }
        }

        .descriptionContainer::-webkit-scrollbar {
            width: 12px;
        }
        
        .descriptionContainer::-webkit-scrollbar-thumb {
            background-color: #363636;
            border-radius: 10px;
        }
        
        .descriptionContainer::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
        
        .descriptionContainer::-webkit-scrollbar-track {
            background: #2b2a2a;
            border-radius: 15px;
        }
    }
}
