.main {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

    .titles {
        h1 {
            font-size: 50px;
            margin: 35px 0 12px 0;
        }
    
        h2 {
            margin: 4px 0;
            font-size: 28px;
            align-self: center;
            color:rgb(117, 117, 117);
        }
    }
    
    .mainBody {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 55px;
        width: 100%;
        height: 100%;

        .topDiv {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;


            .tagsContainer {
                gap: 15px;
                max-height: 37px;
                flex-wrap: wrap;
                display: flex;
                margin: 100px;
                
                .tags {
                    margin: 0px;
                    background-color: #464646;
                    padding: 9px;
                    border-radius: 16px;
                }
            }

            .imageContainer {
                scroll-behavior: smooth;
                margin: 50px 100px 0 0;
                width: 400px;
                display: inline-flex;
                flex-direction: row;
                overflow-x: scroll;
                overflow-y: hidden;

                .image {
                    margin: 0 25px 10px 25px;
                    border-radius: 8px;
                    height: 370px;
                    width: 370px;
                }
            }

            .imageContainer::-webkit-scrollbar {
                width: 12px;
            }
            
            .imageContainer::-webkit-scrollbar-thumb {
                background-color: #363636;
                border-radius: 10px;
            }
            
            .imageContainer::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }
            
            .imageContainer::-webkit-scrollbar-track {
                background: #2b2a2a;
                border-radius: 15px;
            }
        }

        .descriptionContainer {
            background-color: #4646464f;
            height: 250px;
            width: 450px;
            border-radius: 8px;
            .description {
                
            }
        }
    }
}

