.main {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

    .titles {
        h1 {
            font-size: 50px;
            margin: 35px 0 12px 0;
        }
    
        h2 {
            margin: 4px 0;
            font-size: 28px;
            align-self: center;
            color:rgb(117, 117, 117);
        }
    }
    
    .mainBody {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 55px;
        width: 100%;
        height: 100%;

        .topDiv {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: flex-start;
            gap: 100px;

            @media (width <= 1750px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
            }

            .tagsContainer {
                gap: 10px;
                flex-wrap: wrap;
                display: flex;
                padding: 2%;
                width: 100%;
                max-width: 200px;
                background-color: #47474759;
                justify-content: flex-start;
                border-radius: 20px;
                .tags {
                    margin: 0px;
                    background-color: #464646;
                    padding: 10px;
                    border-radius: 22px;
                    height: 18px;
                }
            }

            .imageContainer {
                height: 350px;
                width: 450px;
                display: inline-flex;

                .image {
                    margin: 0 20px;
                    border-radius: 8px;
                    height: 320px;
                    width: 420px;
                }

                .arrowContainer {
                    width: 60px;
                    align-self: center;
                    .arrow {
                        justify-content: center;
                        font-size: 25px;
                        padding: 5px;
                        border-radius: 100px;
                        width: 41px;
                        display: flex;
                        background-color: #a3a2a221;
                        color: rgba(255, 255, 255, 0.699);
                        border: none;
                    }
                }

            }
            
            .imageContainer::-webkit-scrollbar {
                width: 12px;
            }
            
            .imageContainer::-webkit-scrollbar-thumb {
                background-color: #363636;
                border-radius: 10px;
            }
            
            .imageContainer::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }
            
            .imageContainer::-webkit-scrollbar-track {
                background: #2b2a2a;
                border-radius: 15px;
            }
        }

        .descriptionContainer {
            background-color: #4646464f;
            height: 450px;
            width: 80%;
            border-radius: 8px;
            margin: 50px 0 40px 0;
            align-self: center;
            overflow-y: scroll;
            .description {
                margin: 20px;
                font-size: 20px;
            }
        }

        .descriptionContainer::-webkit-scrollbar {
            width: 12px;
        }
        
        .descriptionContainer::-webkit-scrollbar-thumb {
            background-color: #363636;
            border-radius: 10px;
        }
        
        .descriptionContainer::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
        
        .descriptionContainer::-webkit-scrollbar-track {
            background: #2b2a2a;
            border-radius: 15px;
        }
    }
}
